pkgbase = steam-downgrader
	pkgdesc = Roll Steam games back to older builds and keep Steam from updating them -- PySide6 GUI + CLI
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/sendement/steam-downgrader
	arch = any
	license = MIT
	license = BSD-3-Clause
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-uv-build
	depends = python
	depends = pyside6
	depends = python-gevent
	depends = python-protobuf
	depends = python-zstandard
	depends = python-pycryptodomex
	depends = python-cachetools
	depends = python-vdf
	depends = python-requests
	depends = python-wsproto
	depends = python-six
	optdepends = libnotify: desktop notifications when downloads finish
	source = steam-downgrader-0.1.0.tar.gz::https://github.com/sendement/steam-downgrader/archive/refs/tags/v0.1.0.tar.gz
	source = steam-1373e885f26bb636225443787f54d4082283e5f3.tar.gz::https://github.com/solsticegamestudios/steam/archive/1373e885f26bb636225443787f54d4082283e5f3.tar.gz
	source = https://files.pythonhosted.org/packages/source/g/gevent-eventemitter/gevent-eventemitter-2.1.tar.gz
	source = https://files.pythonhosted.org/packages/source/s/segno/segno-1.6.6.tar.gz
	sha256sums = 29ce766a36f313fded77d5e46bcd9c4f6bbc33152b8132d7a30433256b33de23
	sha256sums = 4a3821854cce8133aa2343a60b2842ffefed88801f24f9d874cf48e6e27ba3d0
	sha256sums = 00e6e688c6a255f7bdcef1d8c999e0d02d9ab87d3c6ff626e6dc1a09762107f4
	sha256sums = e60933afc4b52137d323a4434c8340e0ce1e58cec71439e46680d4db188f11b3

pkgname = steam-downgrader
