[Desktop Entry]
Type=Application
Name=Steam Downgrader
Comment=Откат игр Steam на старые версии и защита от обновлений
Exec=steam-downgrader
Icon=steam-downgrader
Terminal=false
Categories=Game;Utility;
Comment[en]=Roll Steam games back to older builds and block updates
